* {
  padding: 0;
  margin: 3px;
  box-sizing: border-box;
  color: white;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/709/101/non_2x/superbowl-american-football-stadium-background-free-vector.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h2 {
  background-color: black;
  border: 10px solid #b3995d;
  border-top: 0;
  color: white;
  position: relative;
  /* top: -3%; */
  font-size: 2rem;
  width: 83%;
  height: 13%;
  text-align: center;
}

button {
  padding: 5px;
  background-color: #b3995d;
  font-size: 1.1rem;
  border-radius: 5px;
}

#all-players-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}

#player_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 20px solid #aa0000;
  background-color: #b3995d;
  border-radius: 5px;
  font-size: 1.3rem;
  box-shadow: 10px 5px 5px black;
  margin: 20px;
}

#player_form :nth-last-child(1) {
  margin: 10px;
}

#team {
  color: black;
}

.player-card {
  /* padding-top: 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid #b3995d;
  background-color: #aa0000;
  width: 350px;
  height: 520px;
  box-shadow: 10px 5px 5px black;
  /* background-image: url("https://cdn4.vectorstock.com/i/1000x1000/85/58/gradient-trading-cards-template-vector-44588558.jpg");
  background-repeat: no-repeat;
  background-size: 100%; */
}

.add-player-button {
  background-color: #aa0000;
}

.player-card img {
  width: 83%;
  height: 68%;
  position: relative;
  border: 5px solid #b3995d;
}

.player-card div {
  display: flex;
  justify-content: space-evenly;
  width: 83%;
  /* height: 20%; */
}

.player-card div div {
  display: flex;
  flex-direction: column;
  width: 83%;
}

/* .details {
  height: 20%;
} */
